/* body {
    background-color: purple;
} */

hr {
    background-color: black;
    size: 10vw;
}

.entrybox {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width:23vw; 
    height:23vw;
    margin:1vw 0;
    border: 3px solid black;
    background-color: gray;
    font-size: 2000%;
    text-align: center;
    line-height: 22vw;
}

.rightletter {
    background:gold;  
}

.rightplace {
    background:green;  
}

.letterEntryBox {
    font-size: 2000%;
    line-height: 20vw;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border-style: hidden;
    
}

