/* body {
    background-color: purple;
} */

hr {
    background-color: black;
    size: 10vw;
}

.entrybox {
    width:23vw; height:23vw;
    margin:1vw 0;
    background:gold;  
    border: 3px solid green;

}

.letterEntryBox {
    font-size: xx-large;
    line-height: 20vw;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border-style: hidden;
    
}

